body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("back.jpg");
}
nav {
  background-color: #b83636;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

h1 {
  text-align: center;
}

.analytics {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.analytics h2 {
  color: #333;
}

.analytics p {
  font-size: 18px;
}
.picture {
  background-image: none;

}
